@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}

/* Design System Variables */
:root {
  --primary: rgba(0, 0, 0, 0.94);
  --purple-accent: rgba(224, 64, 251, 1);
  --body: rgba(255, 255, 255, 1);
  --primary-font-family: "Inter", Helvetica;
  --primary-font-weight: 400;
  --primary-font-size: 24px;
  --primary-letter-spacing: 0px;
  --primary-line-height: normal;
  --primary-font-style: normal;
}

/* Portfolio Styles */
.desktop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #f1efe8;
}

.desktop .background {
  position: absolute;
  top: 0;
  left: calc(50.00% - 960px);
  width: 1920px;
  height: 2708px;
}

.desktop .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 200px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fef8e2;
  border: 1px solid;
  border-color: #463e2e33;
}

.desktop .name {
  position: relative;
  width: fit-content;
  font-family: "Cormorant Garamond-Bold", Helvetica;
  font-weight: 700;
  color: #1e2a38;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .resume-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #4e6a57;
  border-radius: 20px;
}

.desktop .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 36px;
  padding: 48px 200px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .intro-text-container {
  display: flex;
  flex-direction: column;
  width: 1072px;
  align-items: center;
  justify-content: center;
  gap: 28px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .intro-title {
  position: relative;
  width: 870px;
  margin-top: -1.00px;
  font-family: "Cormorant Garamond-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e2a38;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line {
  position: relative;
  width: 457px;
  height: 1px;
  object-fit: cover;
}

.desktop .intro-description {
  position: relative;
  align-self: stretch;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  color: #1e2a38;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 41px;
}

.desktop .intro-buttons {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 36px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .projects-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 60px;
  position: relative;
  flex: 0 0 auto;
  background-color: #4e6a57;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.desktop .div {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .projects-button-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 60px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 20px;
  border: 1px solid;
  border-color: #4e6a57;
  background-color: transparent;
  cursor: pointer;
}

.desktop .projects-button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #4e6a57;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .frame {
  align-items: flex-start;
  gap: 176px;
  padding: 40px 60px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fef8e2;
  border-radius: 14px;
  overflow: hidden;
  border: 4px solid;
  border-color: #f4b942;
  display: flex;
  position: relative;
}

.desktop .frame-2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.desktop .about-me-title {
  width: fit-content;
  margin-top: -1.00px;
  font-size: 40px;
  text-align: center;
  line-height: normal;
  position: relative;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e2a38;
  letter-spacing: 0;
}

.desktop .about-me-description {
  align-self: stretch;
  height: 307px;
  font-size: 20px;
  line-height: 27.3px;
  position: relative;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e2a38;
  letter-spacing: 0;
}

.desktop .image {
  position: relative;
  width: 386.0px;
  height: 386.0px;
  aspect-ratio: 1;
  background-image: url(/img/background.svg);
  background-size: 100% 100%;
}

.desktop .div-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 48px 200px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.desktop .div-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.desktop .text-wrapper-2 {
  margin-top: -1.00px;
  font-family: "Cormorant Garamond-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e2a38;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  align-self: stretch;
}

.desktop .img {
  width: 202px;
  position: relative;
  height: 1px;
  object-fit: cover;
}

.desktop .projects-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1520px;
  height: 1050px;
  align-items: center;
  justify-content: center;
  gap: 20px 20px;
  position: relative;
  width: 100%;
}

.desktop .project-card {
  display: flex;
  flex-direction: column;
  width: 748px;
  align-items: center;
  position: relative;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 16px;
  overflow: hidden;
  border: 3px solid;
  border-color: #1e2a38;
}

.desktop .project-image {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 235px;
}

.desktop .project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 55px;
  padding: 28px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-left: -3.00px;
  margin-right: -3.00px;
  background-color: #f1efe8;
  border-radius: 0px 0px 8px 0px;
  border-left-width: 3px;
  border-left-style: solid;
  border-color: #1e2a38;
}

.desktop .frame-3 {
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .frame-4 {
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .project-title {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Cormorant Garamond-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e2a38;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .project-tags {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .project-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 12px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f4b94299;
  border-radius: 6px;
}

.desktop .project-tag-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e2a38;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .project-description {
  position: relative;
  align-self: stretch;
  height: 69px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e2a38;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.desktop .frame-5 {
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  position: relative;
}

.desktop .project-links {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  position: relative;
  border-radius: 6px;
  border: 1px solid;
  border-color: #4e6a57;
  cursor: pointer;
}

.desktop .button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #4e6a57;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-wrapper {
  position: relative;
  width: 16px;
  height: 16px;
  aspect-ratio: 1;
}

.desktop .vector {
  position: absolute;
  width: 91.67%;
  height: 91.67%;
  top: 8.33%;
  left: 8.33%;
}

.desktop .button-3 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  position: relative;
  background-color: #4e6a57;
  border-radius: 6px;
  cursor: pointer;
}

.desktop .button-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .vector-2 {
  position: absolute;
  width: 87.50%;
  height: 87.50%;
  top: 12.50%;
  left: 12.50%;
}

.desktop .project-description-wrapper {
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.desktop .project-description-2 {
  position: relative;
  width: fit-content;
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  color: #1e2a38;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  cursor: pointer;
}

.desktop .contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.desktop .line-2 {
  width: 229px;
  position: relative;
  height: 1px;
  object-fit: cover;
}

.desktop .text-wrapper-3 {
  font-family: "Manrope-SemiBold", Helvetica;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  width: 368px;
  color: #1e2a38;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.desktop .contact-copyright {
  margin-top: -1.00px;
  font-family: "Manrope-Regular", Helvetica;
  font-weight: 400;
  font-size: 10px;
  position: relative;
  width: 368px;
  color: #1e2a38;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.desktop .social-links {
  display: inline-flex;
  align-items: flex-start;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.desktop .img-wrapper {
  position: relative;
  width: 32px;
  height: 32px;
  aspect-ratio: 1;
}
